DATABASE_URI=mongodb://127.0.0.1/your-database-name
NEXT_PUBLIC_SITE_URL=https://www.meshco.co.za
PAYLOAD_SECRET=YOUR_SECRET_HERE
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_TO_EMAIL=
RESEND_CAREERS_EMAIL=
NEXT_PUBLIC_GOOGLE_CAPTCHA_SITE_KEY=
GOOGLE_CAPTCHA_SECRET_KEY=
