/* Dropdown Container Styles */
.dropdownContainer {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdownContainer::after {
  content: '';
  position: absolute;
  bottom: -40px; /* Bridge the gap */
  left: 0;
  width: 100%;
  height: 40px;
  background: transparent;
  z-index: 10;
}

/* Show class for dropdown animations */
.show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
}

.large {
  min-width: 800px;
}

.medium {
  min-width: 300px;
}

.small {
  min-width: 200px;
}
